bin
CodePositions.log
additionalAppClassesBin
sharedClassesBin
sootOutput
*.iml
.idea
lib
plot
android-jars
hooking
.settings
.classpath
.project
ant.settings.ssebuild
ant.settings.template
build.xml
mainException.txt
noLoggingPoint.txt